html {
    background-color: #dddddd;
}

div {
    background-color: #dddddd;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

h1, input {
    text-align: center;
    font-family: HelveticaNeue, Helvetica;
    color: #4f4f4f;
}

p {
    margin: 3px;
    text-align: left;
    font-family: HelveticaNeue, Helvetica;
    color: #4f4f4f;
}

ul {
    list-style-type: none;
}

button {
    background-color: #cccccc;
    color: #4f4f4f;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: none;
}

button:hover {
    background-color: #444444;
    color: #bbbbbb;
    text-align: center;
    font-size: 20px;
    border: none;
}
